<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content")
</head>
<body>


    <div class="container py-3">
        @RenderBody()
    </div>

    @Scripts.Render("~/Scripts")
</body>
</html>











